body {
    width: fit-content;
    height: fit-content;
    border: 1px solid #236ef9;
    padding: 10px;
}

#menu {
    margin-bottom: 20px;
    border: 1px solid #236ef9;
    padding: 10px;
    background: #f4f8ff;
}

#barre1 {
    width: 250px;
    border: 1px solid #236ef9;
    border-radius: 2px;
    margin-bottom: 10px;
}

#barre2 {
    width: 250px;
    border: 1px solid #236ef9;
    border-radius: 2px;
    margin: 10px 0 8px 0;
}

.volume-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, #007bff 0%, #007bff var(--value, 50%), #ddd var(--value, 50%), #ddd 100%);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #555;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #555;
  cursor: pointer;
  border: 2px solid white;
}

#progress-bar {
    -webkit-appearance: none;
    appearance: none;
    height: 7px;
    width: 150px;
    border: 1px solid #444444;
    border-radius: 4px;
    overflow: hidden;
}

#progress-bar::-webkit-progress-bar {
    background-color: #ececec;
}

#progress-bar::-webkit-progress-value {
    background-color: #3f9cff;
}

#stockage-bar {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 100px;
    border: 1px solid #444444;
    border-radius: 8px;
    overflow: hidden;
}

#stockage-bar::-webkit-progress-bar {
    background-color: #ececec;
}

#stockage-bar::-webkit-progress-value {
    background-color: #0a9600;
}
